<div class="event-container">

  <div class="event-card"></div>

  <h2>My Events</h2>
  <% if @all_events.any? %>
    <p style="margin-bottom: 25px;">Hi! You have <%= @all_events.count %> upcoming events.</p>
  <% else %>
    <p>You have no events to display 😢 </p>
  <% end %>



  <div class="test">
    <% if @my_events.any? %>
      <div class="myevent-sec">
        <h6 style="margin-bottom: 0px">You will host:</h6>
      </div>


    <div class="card-container cont_event">
      <div class="row">
        <% @my_events.each do |event| %>
          <div class="col-12 p-2" style="margin-bottom: 25px;">
            <div class="card-product m-2 img_event">
              <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, crop: :fill %>
              <% end %>
              <div class="icons">
                <div class="editx">
                    <%= link_to edit_event_path(event) do %>Edit
                    <i class="fas fa-angle-double-right"></i>
                    <% end %>
                </div>
              </div>
              <div class="card-header d-flex justify-content-between">
                <div class="myevent-title">
                  <h2><%= link_to event.title, event_path(event)%></h2>
                </div>
                <div id="date"><i class="far fa-calendar-alt"></i>
                  <%= (event.start_time).to_s(:short) %> <br>
                  <%= event.neighbourhood %>
                </div>
              </div>

              <div class="col-12 p-0 m-0 flex-grow">
                <%= link_to event_path(event), method: :delete, data: { confirm: "Are you sure?" } do %>
                <button type="button" class="btn-event col-12 text-center m-0">CANCEL THIS EVENT</button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>


<% if @joined_events.any? %>
  <div class="myevent-sec">
        <h6 style="margin-bottom: 0px">You will join:</h6>
      </div>
  <div class="card-container">
    <div class="row">
      <% @joined_events.each do |event| %>
        <div class="col-12 p-2">
          <div class="card-product m-2">
            <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, crop: :fill %>
            <% end %>
              <div class="card-header d-flex justify-content-between">
                <h2 class="myevent-title"><%= link_to event.title, event_path(event)%></h2>
                <div id="date"><i class="far fa-calendar-alt"></i>
                  <%= (event.start_time).to_s(:short) %> <br>
                  <%= event.neighbourhood %>
                </div>
              </div>

              <div class="col-12 p-0 m-0 flex-grow">
                <%= link_to event_participation_path(event, event.participations.find_by(user: current_user)), method: :delete, data: { confirm: "Are you sure?" } do %>
                <button type="button" class="btn-event col-12 text-center m-0">UNJOIN</button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

