
<div class="container">


  <div class="row">
    <h2> Events in your city... </h2>
  </div>

  <%= link_to new_event_path, method: :get do %>
              <i class="fas fa-plus"></i>
          <% end %>
    <div class="index">
     <% @events.each do |event| %>
      <div class="row">
          <div class="card mb-3" style="width: 331px; height: 271px">
            <div class="neighborhood" m-2>
              <h5 class="text-right"><i class="fas fa-location-arrow"></i><%= event.neighbourhood %></h5>
            </div>
            <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
            <div class="card-body">
              <div class= "d-flex-justify-content-between">
                <h5 class="card-title"><%= link_to event.title, event_path(event) %></h5>
                <h5 class="event-date"><%= (event.start_time).to_s(:short) %></h5>
              </div>

              <p class="text-left"><%= event.description %></p>
            </div>
          </div>
      </div>

    <% end %>
  </div>

</div>
