
<div class="container-events">


      <p>
        <a class="btn btn-map" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Show Map
        </a>
      </p>
  <h2> Events in your city... <%= link_to new_event_path, method: :get do %>
      <i class="fas fa-plus" id="linkawesome"></i>
          <% end %> </h2>
          

        <div class="collapse" id="collapseExample">
          <div id="map"
            style="width: 100%; height: 300px; border: 2px solid; border-color: #598392"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
          </div>
        </div>
  


    <div class="index">
     <% @events.each do |event| %>
      <div class="card-trip">
          <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, crop: :fill %>
          <% end %>
          <div class="card-trip-pricing">
            <h2 class="main-title"><%= link_to event.title, event_path(event)%></h2>
            <p><%=event.category%></p>
            <p><%=event.description%></p>
          </div>
          <h3 class="card-trip-info"><div id="date"><%= (event.start_time).to_s(:short) %></div><div id="neighbourhood"><%= event.neighbourhood %></div></h3>
        </div>

    <% end %>
  </div>
</div>
