
<div class="container-events">
    <div class="event-card"></div>
      <br>
        <div class="showmap-event">
          <a class="btn btn-map-show" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"  aria-controls="collapseExample">Show map <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="main-title-event">
          <h2>Events in your city</h2>
            <%= link_to new_event_path, method: :get do %>
            <i class="fas fa-plus" id="linkawesome"></i>
          <% end %>
        </div>


        <div class="collapse" id="collapseExample">
          <div id="map"
            style="width: 100%; height: 300px; m-0"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
        </div>
</div>

 <div class="card-container">
   <div class="row">
    <% @events.order("created_at desc").each do |event| %>
        <div class="col-12 p-2">
        <div class="card-product m-2">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, crop: :fill %>
        <% end %>
          <div class="card-header d-flex justify-content-between">
            <h2> <%= event.title %> </h2>
            <div id="date"><i class="far fa-calendar-alt"></i>
              <%= (event.start_time).to_s(:short) %>
            </div>
          </div>
          <p class="card-description"><%=event.description%></p>
          <div class="col-12 p-0 m-0 d-flex flex-grow">
            <%= link_to "EVENT DETAILS", event_path(event), class: "btn-event col-12 text-center m-0" %>
          </div>
        </div>
      </div>
       <% end %>
      </div>
    </div>


