

<div class="container">
  <h1>Create a new event</h1>
  <%= simple_form_for [@user, @event] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, collection: Event.categories %>
    <%= f.input :address %>
    <%= f.input :neighbourhood, collection: Event.neighbourhoods %>
    <%= f.input :start_time, as: :datetime, html5: true  %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "POST EVENT", class: "btn btn-primary" %>
  <% end %>
</div>

