<div class="container Create">
    <h1>POST YOUR EVENT</h1>

    <%= simple_form_for @event do |f| %>
    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :address %>
      <%= f.input :neighbourhood %>
      <%= f.input :start_time %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <div class="form-actions">
      <%= f.submit "POST EVENT", class: "btn btn-primary" %>
      <% end %>
    </div>

    <br><br><br><br>
  </div>
