<div class="event-container">

  <div class="line-under-navbar"></div>
  <div class="card-event">

    <div class="title">
      <h4 class="main-title"><%= @event.title %></h4>
        <!-- <div class="trash"><%= link_to edit_event_path(@event[:id]), method: :get do %>
              <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to event_path(@event[:id]), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
          <% end %> -->
        </div>
    </div>



    <div class="photo">
      <% if @event.photo.attached? %>
        <div class="event-photo"><%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
      <div class="description">
        <p class="event-description"><%= @event.description %></p>
      </div>

      <table>
        <tbody>
          <tr>
            <td class="desc-title">Date</td>
            <td class="desc-content"><%= (@event.start_time).to_s(:short) %></td>
          </tr>
          <tr>
            <td class="desc-title">Location</td>
            <td class="desc-content"><%= @event.neighbourhood %></td>
          </tr>
          <tr>
            <td class="desc-title">Category</td>
            <td class="desc-content"><%= @event.category %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="date">
      <p class="event-date"><%= (@event.start_time).to_s(:short) %></p>
      <p class="event-neighbourhood"> <%= @event.neighbourhood %></p>
    </div> -->
    <% facts = ['Giving money to someone else actually makes you feel better than spending it on yourself.', 'Generous people feel better about themselves. They report a greater sense of life satisfaction and happiness.', 'Give more things away. Your life will feel lighter. Your heart will feel warmer. And the world will be better.', 'According to sociologists, teenagers who volunteer have better grades and self-image.', 'Studies show that volunteering enhances an individual’s overall sense of purpose and identity—particularly if they no longer hold a life-defining role like “worker” or “parent.”'] %>

    <div class="facts-and-map">
      <div class="facts">
      <h6>Facts:</h6>
      <p>"<%= facts.sample  %>"</p>
      </div>
      <div class="showmap">
        <a class="btn btn-map-show" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"  aria-controls="collapseExample">Show map <i class="fas fa-angle-double-right"></i></a>
      </div>
    <div class="collapse" id="collapseExample">
          <div id="map"
            style="width: 100%; height: 300px; m-0"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
          </div>
    </div>

    <div class="foot">
      <% if @event.user == current_user %>
        <%= link_to dashboard_admin_path(event: @event) do %>
          <button type="button" class="btn btn-flat event">MANAGE EVENT</button>
        <% end %>
      <% else %>
        <% if current_user.joined_events.include?(@event) %>
          <%= link_to participation_path(@participation), method: :delete, data: { confirm: "Are you sure?" } do %>
            <button type="button" class="btn btn-flat joined">UNJOIN</button>
          <% end %>

        <% else %>
          <%= simple_form_for [@event, @participation], method: :post do |f|  %>
            <%= f.submit "JOIN", class: "btn btn-flat event", notice: 'join_event' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>

