<div class="event-container">


  <div class="card-event">

    <div class="title">
      <h4 class="main-title"><%= @event.title %>

        <div class="trash"><%= link_to edit_event_path(@event[:id]), method: :get do %>
              <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to event_path(@event[:id]), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
          <% end %></div></h4>

    </div>



    <div class="photo">
      <div class="event-photo"><%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="date">
      <p class="event-date"><%= (@event.start_time).to_s(:short) %></p>
      <p class="event-neighbourhood"> <%= @event.neighbourhood %></p>
    </div>

    <div class="description">
      <p class="event-description"><%= @event.description %></p>
    </div>

    <div class="facts-and-map">
      <div class="facts">
      <p class="event-facts"> Facts</p>
      <p>When you help others, you give off positive vibes, which can rub off on your peers and improve your friendships!</p>
      </div>
      <div id="map"
        style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

  </div>
    <div class="foot">

        <%= link_to "JOIN", "/events", notice: 'join_event', class: "btn btn-flat event", notice: 'join_event'%>

    </div>
  </div>


</div>


