<div class="container">

  <div class="searchbar">
    <%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an event"
      %>

    <% end %>
  </div>

  <div class="title">
    <h1 class="main-title"><%= @event.title %></h1>
  </div>

  <div class="photo">
    <div class="event-photo"><img src="https://source.unsplash.com/random">
  </div>

  <div class="description">
    <p class="event-description"><%= @event.description %></p>
  </div>

  <div class="facts and map">
    <div class="facts">
    <p class="event-facts"> "some facts here"</p>
    </div>
    <div class="map">
    </div>
  </div>

  <div class="button">
    <%= link_to "Join", "#", class: "btn btn-ghost" %>
  </div>


</div>


