<h1> Show page </h1>

<div class="container">
  <h4><%= @event.title %></h4>
  <h4><%= @event.description %></h4>
  <h4><%= @event.category %></h4>
  <h4><%= @event.address %></h4>
  <h4><%= @event.neighbourhood %></h4>
  <h4><%= @event.start_time %></h4>

  <div class="anchor-link">
    <%= link_to '/events' do %>
    <p><i class="fas fa-arrow-left"></i> Back to events </p>
    <% end %>
  </div>

  <div class="delete-link">
    <%= link_to "Delete #{@event.title}",
            event_path(@event),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
</div>
