<div class="home">
  <div class="button-home"><br>
    <div class="marketplace" >
      <%= link_to "PHOTO", form_photo_path, class: "btn btn-flat btn-low", style: "opacity: 0.95; width: 60%;" %>
    </div>
    <div class="impact">
      <%= link_to "POST", "/events", class: "btn btn-flat btn-low", style: "opacity: 0.9; width: 60%;" %>
    </div>
    <div class="posty">
      <%= link_to "QUOTE", "/posts", class: "btn btn-flat btn-low", style: "opacity: 0.85; width: 60%;" %>
    </div>
    <div class="posty">
      <%= link_to "RECIPE", "/posts", class: "btn btn-flat btn-low", style: "opacity: 0.8; width: 60%;" %>
    </div>
    <div class="posty">
      <%= link_to "TUTORIAL", "/posts", class: "btn btn-flat btn-low", style: "opacity: 0.75; width: 60%;" %>
    </div>
    <div class="posty">
      <%= link_to "VIDEO", "/posts", class: "btn btn-flat btn-low", style: "opacity: 0.7; width: 60%;" %>
    </div>
  </div>
</div>
