<div class="navbar-posts">
  <ul>
    <li>
      <%= link_to choose_type_of_post_path, method: :get do %>
        <i class="fas fa-pencil-alt" id="plus"></i>
      <% end %>
    </li>
  </ul>
</div>
<div class="container">
  <div class="line-under-navbar"></div>
  <div class="daily-quote">
    <i class="fas fa-quote-left"></i><br><h1 class="quote">We can't control everything that happens, but we can change our experience of those things</h1><i class="fas fa-quote-right"></i>
  </div>
  <div class="posts">
    <% @posts.order("created_at desc").each do |post| %>
      <div class="post">
        <%= link_to user_path(post.user)  do %>
        <div class="userdetails d-flex">

          <div class="comment-photo">
            <% if post.user.photo.attached? %>

              <%= cl_image_tag post.user.photo.key, crop: :fill, class: "avatar avatar-comment" %>
            <% end %>
          </div>
          <div class="username">
            <%= post.user.username %>
          </div>
        </div>
        <% end %>
        <div class="category">
            <%= post.category.upcase %>
          <div class="striscia">
          </div>
        </div>
        <% if post.title.present? %>
          <div class="title-post">
            <h1 class="title-post"><%= post.title.upcase %></h1>
          </div>
        <% end %>
      <!--   <div class="date-post">
          <%= post.date %>
        </div> -->
        <div class="post-photo">
          <% if post.photo.attached? %>
            <%= cl_image_tag post.photo.key, crop: :fill, class: "photo-of-the-post" %>
          <% end %>
        </div>
        <% if post.content.present? %>
          <div class="post-content">
            <%= post.content %>
          </div>
        <% end %>
       <% if policy(post).update? %>
        <div class="edit">
          <%=  link_to "Edit Post", edit_post_path(post) %> <%= link_to post_path(post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
        </div>
        <% end %>
        <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= link_to 'â™¥ï¸', post_like_path(post, pre_like), class: "heart", method: :delete %>
        <% else %>
          <%= link_to 'â™¥ï¸', post_likes_path(post), class: "heart", method: :post %>
        <% end %>
        <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
          ðŸ’¬
        <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%>
      </div>
      <div class="comments">
        <ul>
          <% post.comments.each do |comment| %>

            <li class="comment-item d-flex">

              <div class="comment-photo">
                <%= link_to user_path(comment.user) do %>
                <% if comment.user.photo.attached? %>
                  <%= cl_image_tag comment.user.photo.key, crop: :fill, class: "avatar avatar-comment" %>
                <% end %>
              </div>
              <div class="username">
                <%= comment.user.username %>
              </div>
              <% end %>
              <div class="content-comment">
                <%= comment.content %>
              </div>

              <% if policy(comment).update? %>
                <div>
                  <%= link_to post_comment_path(post.id, comment),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                      <i class="fas fa-trash hidden"></i>
                    <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
          <!-- <div id="comment-modal">
            <a rel="nofollow" data-method="delete" id="modal-delete">DELETE COMMENT</a>
          </div> -->
          <%= simple_form_for [ post, @comment ], remote: true  do |f| %>
            <%= f.input :content, label: false, placeholder: 'Add a comment' %>
            <%= f.submit "Comment", class: "btn btn-comment", id: "post-#{post.id}" %>
          <% end %>

      </div>
    <% end %>
    <br><br>
  </div>
</div>
  <br><br>


<div class="modal-wrapper">
</div>
