<div class="container">
  <div class="show-card">
     <div class="search-form-control form-group">
        <%= form_tag category_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for products ..."%>
      </div>
    <% end %>

  <div class="card-container">
   <div class="row">
    <% @products.each do |product| %>
        <div class="col-12 p-2">
        <div class="card-product m-2">
          <img src= <%= product.image %> >
          <div class="card-header d-flex justify-content-between">
            <h4 class="header"> <%= product.title %> </h4>
            <h4 class="card-pricing"> <%= product.price %> € </h4>
          </div>
          <p class="card-description"><%= product.description[0...135] %>...</p>
          <div class="col-12 p-0 m-0 d-flex flex-grow">
            <%= link_to "SHOW", product_path(product), class: "btn-product col-12 text-center m-0" %>
          </div>
        </div>
      </div>
       <% end %>
      </div>
    </div>
  </div>
  <div class="navbar-karma">
    <ul>
      <li>
        <div>
            <%= link_to karmapoints_path do %>
            Your karma: <%= current_user.karma_points %><i class="fas fa-dollar-sign"></i>
            <% end %>
          </div>
      </li>
    </ul>
  </div>

</div>
