<div class="container">
  <div class="show-card">
     <div class="search-form-control form-group">
        <%= form_tag method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for products ..."%>
      </div>
    <% end %>
  
  <div class="card-container">
   <div class="row">
    <% @products.each do |product| %>
        <div class="col-6 p-0">
        <div class="card-product m-2">
          <img src= <%= product.image %> >
          <div class="card-header d-flex justify-content-between"> 
            <h5 class="header"> <%= product.title %> </h5>
            <h5 class="card-pricing"> <%= product.price %> € </h5>
          </div>
          <p class="card-description"><%= product.description[0...50] %>...</p>
          <%= link_to "SHOW", product_path(product), class: "btn-product" %>
        </div>
      </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
