<div class="container content">
  <div class="show-card">

    <div class="title-price">
      <h2 class="title"><%= @product.title.upcase %></h2>
      <h4><%= @product.price %> €</h4>
    </div>
    <div class="image">
      <%= image_tag( @product.image, :alt => "rss feed") %>
    </div>


    <p class="desc"> <%= @product.description %></p>

    <table>
      <tbody>
        <tr>
          <td class="desc-title">Our Rating</td>
          <td class="desc-content"><i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i></td>
        </tr>
        <tr>
          <td class="desc-title">Location</td>
          <td class="desc-content">Berlin, Germany</td>
        </tr>
        <tr>
          <td class="desc-title">Where To Buy</td>
          <td class="desc-content">www.bosqueplants.com</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="howrate">
      <%= link_to howwerate_path do %>How we rate
      <i class="fas fa-angle-double-right"></i>
      <% end %>
    </div>
    <div>

      <%= link_to "GET YOUR DISCOUNT CODE", @product.url, class: "btn btn-flat small sweetalert karmajs", data: {
       url: @product.url,
       buy_path: request.protocol + request.host + (request.host_with_port if Rails.env.development?) + buy_path
      } %>
    </div>
    <br>
    <!-- <div class="socialmedia">
      <i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> <i class="fab fa-twitter"></i>
    </div> -->
<br><br><br>
  </div>
  <div class="navbar-karma">
    <ul>
      <li>
        <div>
            <%= link_to karmapoints_path do %>
            Your karma: <span id='karmapoints'><%= current_user.karma_points %> </span><i class="fas fa-gem"></i>
            <% end %>
          </div>
      </li>
    </ul>
  </div>


</div>
