<div class="container content">
  <h2 class="title"><%= @product.title.upcase %></h2>
  <div class="image">
    <%= image_tag( @product.image, :alt => "rss feed") %>
  </div>
  <p class="desc"> <%= @product.description %></p>

  <%= link_to "Use your karmapoints", "#", class: "btn btn-flat small" %>
  <%= link_to "Go To Webshop", "#", class: "btn btn-flat small" %>















</div>
