<div class="container content">
  <div class="show-card">
    <div class="search-form-control form-group">
        <%= form_tag category_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for products ..."%>
      </div>
    <% end %>
    <h2 class="title"><%= @product.title.upcase %></h2>
    <div class="image">
      <%= image_tag( @product.image, :alt => "rss feed") %>
    </div>

    <p class="desc"> <%= @product.description %></p>

    <table>
      <tbody>
        <tr>
          <td class="desc-title">Our Rating</td>
          <td class="desc-content"><i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i></td>
        </tr>
        <tr>
          <td class="desc-title">Location</td>
          <td class="desc-content">Berlin, Germany</td>
        </tr>
        <tr>
          <td class="desc-title">Where To Buy</td>
          <td class="desc-content">www.bosqueplants.com</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="howrate">
      <%= link_to howwerate_path do %>How we rate.
      <i class="fas fa-angle-double-right"></i>
      <% end %>
    </div>
    <div>
      <%= link_to "GO TO WEBSHOP", @product.url, class: "btn btn-flat small" %>
    </div>
    <br>
    <div class="socialmedia">
      <i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> <i class="fab fa-twitter"></i>
    </div>

  </div>



</div>
